@model CHOY.Models.GroupMember

@{
    if (ViewBag.Who == 0)
    {
        Layout = "~/Views/Shared/_Layout_normal.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_manager.cshtml";
    }
    ViewBag.Title = "Add Group Member";
}

    <div class="page-container">
        @Html.ActionLink("← Back to Group Page", "Index", null, new { @class = "page-back-btn" })
        <div class="edit-inner">
            <h2 class="page-tittle font-middle">Add GroupMember</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="">
                        <label for="Id">Member's email</label>
                        <input id="Id" name="Email" type="text" class="" />
                        <input type="submit" value="Save" class="btn" />
                </div>
            }

        </div>
    </div>