
 
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form method="POST" action="/Members/_ChangePassword" onsubmit="return checkpwd()">
       
        <div class="modal-body">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="opsw">Original Password:</label>
                <input id="opsw" name="opsw" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label for="psw1">New Password:</label>
                <input id="psw1" name="psw1" type="password" class="form-control" />
            </div>

            <div class="form-group">
                <label for="psw">Confirm New Password:</label>
                <input id="psw" name="psw2" type="password" class="form-control" />
            </div>
        </div>
        <span>@ViewBag.password</span>
        <span id="errormsg"></span>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <script>
        function checkpwd() {
            const pwd1 = document.getElementById("psw1").value
            const pwd = document.getElementById("psw").value
            const errorMsg = document.getElementById("errormsg")

            if (pwd1 == pwd) { return true }
            errorMsg.innerText = "New Password is different from Confirmed New Password."
            return false;
        }
    </script>

