@model System.Web.Mvc.HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="text-center">
            <img style="width:200px" src="../../Images/640px-Achtung.svg.png" />
        </div>
        <hgroup>
            <h1 class="alert alert-danger text-center">Server Error, Please Check The Error And Try Again.</h1>
            <h2 class="alert alert-warning">Description: @Model.Exception.Message</h2>
            <h2 class="alert alert-warning">@Model.Exception.InnerException</h2>
        </hgroup>
    </div>
</body>
</html>