html{
			cursor: default;
			font-size: 62.5%
		}
		*,::before,::after{
			box-sizing: border-box;
			/*border: solid 1px;*/
			font-family: "Times","Helvetica", "Arial","LiHei Pro","微軟正黑體", sans-serif;
		}

		h1,h2,h3,h4,h5,h6,body,div,p,pre,ul,ol,dl,dt,dd,address,form,blockquote,figure{
			margin: 0;
			padding-bottom: 0;
			font-style: normal;
			font-weight: normal;
			color: #373d43;
		}
		li{
			list-style: none;
		}
		p{
			word-break: none;
		}
		img{
			vertical-align: bottom;
			border-style: none;
		}
		option{
			padding-right: 10px;
		}
		input,select{
			vertical-align: middle;
		}
		a{
			font-style: normal;
			font-weight: normal;
		}
		input {
    /*font-size: 1rem;*/
    background-color: transparent;
    border: none;
    border-bottom: 1px  solid #bcd2cd;
    /*border: 0 0 1px 0 solid #bcd2cd;*/
}
/*--------------------------------------------bar------------------------------------------*/
		.bar_container{
			width: 120px;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			/*background-color: #fafaf8;*/
			z-index: 100;
			display: flex;
			transition-delay: .4s; 
		}
		@media screen and (max-width: 767px) {
			.bar_container {
				width: 100%;
				/*height: 50px;*/
			/*padding: 0 5px;*/
				height: auto;
			}
		}

		.bar_container img{
			width: 100%;
			height: auto;
		}
		.bar_container .bar{
			border-right: solid 1px #e5e5e5;
			height: 100%;
		}
		@media screen and (max-width: 767px) {
		.bar_container .bar{
			width: 100%;
			border-right: none;
			}	
		}

		.bar_container .bar_inner{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-bottom: 40px;
			min-width: 120px;
			height: 100%;
			background-color:#fafaf8;	
		}
		@media screen and (max-width: 767px){
			.bar_container .bar_inner{
				flex-direction: row;
				flex-shrink: 0;
				align-items: center;
				width: 100%;
				height: 50px;
				padding:0 0 0 15px;
				border-right: none;
				border-bottom: solid 1px #e5e5e5;
			}
		}

		.bar_container .bar_logo{
			width: 80px;
			margin: 38px 0 0;
		}
		@media screen and (max-width: 767px){
			.bar_container .bar_logo{
				width: 56px;
				margin: 0 8px 0 0;
			}
		}

		.bar_container .tools_box{
			/*margin-top: 10px;*/
			height: 80%;
			width: 100%;
		}
		@media screen and (max-width: 767px){
			.bar_container .tools_box{
				height: 100%;
				width: 90%;
			}
		}
/*----------------------------漢堡按鈕---------------------------*/
		.bar_container .bar_trigger{
			width: 70px;
			min-height: 51px;
			height: 51px;
			margin: 30px 0 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			cursor: pointer;
			position: relative;
			z-index: 10;
			padding:15px 0;
		}
		@media screen and (max-width: 767px){
			.bar_container .bar_trigger{
				width: 68px;
				min-height: 52px;
				height: auto;
				margin: 0;
				padding:20px 0;
				align-items: center;
			}
		}
		.bar_container .bar_trigger:hover span{
			background-color:#79a49a;
		}
/*-----------小視窗狀態分隔線--------------------*/
		/*.bar_container .bar_trigger::after{
			content: "";
			background-color:#e5e5e5;
			position: absolute;
			display: none;
		}
		@media screen and (max-width: 767px){
			.bar_container .bar_trigger::after{
				display: block;
				width: 1px;
				height: 50px;
				top: 0;
				bottom: 0;
				left: 0;
				margin: auto;
			}
		}*/
/*---------------------------------------------*/
		.bar_container .bar_trigger span{
			width: 100%;
			height: 2px;
			background-color:#373d43;
			transition: background-color .15s,-webkit-transform:.4s;
			transition: transform .4s,background-color .15s;
			transition: transform .4s,background-color .15s,-webkit-transform:.4s;
		}
		@media screen and (max-width: 767px){
			.bar_container .bar_trigger span{
				width: 35px;
				height: 2px;
				display: inline-block;
			}
		}
		.bar_container .bar_trigger.is-active span:nth-of-type(1){
			-webkit-transform:translateY(9px) rotate(-18deg);
					transform:translateY(9px) rotate(-18deg);
		}
		@media screen and (max-width: 767px){
			.bar_container .bar_trigger.is-active span:nth-of-type(1){
				-webkit-transform:translateY(5px) rotate(-18deg);
						transform:translateY(5px) rotate(-18deg);
			}
		}
		.bar_container .bar_trigger.is-active span:nth-of-type(2){
			left: 50%;
			opacity: 0;
			-webkit-animation:active-bar .8s forwards;
					animation:active-bar .8s forwards;
		}
		.bar_container .bar_trigger.is-active span:nth-of-type(3){
			-webkit-transform:translateY(-9px) rotate(18deg);
					transform:translateY(-9px) rotate(18deg);
		}
		@media screen and (max-width: 767px){
			.bar_container .bar_trigger.is-active span:nth-of-type(3){
				-webkit-transform:translateY(-5px) rotate(18deg);
						transform:translateY(-5px) rotate(18deg);
			}
		}

		@media all and (-ms-high-contrast:none) {
			.bar_container *::-ms-backdrop,.bar_container .bar_trigger.is-active span:nth-of-type(3){
				transform: translateY(-4px) rotate(18deg);
			}
		}
		@-webit-keyframes active-bar{
			100%{height: 0}
		}
		@keyframes active-bar{
			100%{height: 0}
		}

/*---------------content-------------------*/
		.content_container{
			position: fixed;
			top: 0;
			left: 120px;
			width: 100%;
			height: 100%;
			overflow-x: scroll;
			display: flex;
			visibility: hidden;
			opacity: 0;
			transition: .4s;
			background-color: #fafaf8;
			border-left: 1px solid #e5e5e5;
			z-index: 99;
			-ms-overflow-style: none;
			scrollbar-width: none;
		}
		.content_container::-webkit-scrollbar{
			display: none;
		}
		.content_container.is-active{
			visibility: visible;
			opacity: 1;
		}
		@media screen and (max-width: 767px){
			.content_container{
				flex-direction: column;
				left: 0;
				top: 50px;
				z-index: 99;
			}
		}
		.content_main{ 
			height: 100%;
			padding:50px 0 200px 30px;
			margin: 0 72px 0 auto;
		}
		@media screen and (max-width: 767px){
			.content_main{
				top: 50px;
				left: 0;
				padding: 3px 5px 0;
				height: auto;
				margin: 0;
			}
		}
		.content_inner{
			width: 810px;
			height: 100%;
		}
		@media screen and (max-width: 767px){
			.content_inner{
				width: 100%;
			}
		}

		.content_title{
			width: 100%;
			margin-left: 25px;
			font-size: 1.9rem;
		}
		@media screen and (max-width: 767px){
			.content_title{
				margin-left: 5px;
				font-size: 1.5rem;
			}
		}

		.list_container{
			display: flex;
			flex-direction: row;
			/*height: 100%;*/
			margin: 35px 0 0 5px;
		}
		@media screen and (max-width: 767px){
			.list_container{
				flex-direction: column;
				margin: 3px 0 0 0; 
			}
		}

		.content_list{
			display: flex;
			flex-direction: column;

			width: 280px;
		  	font-weight: bold;			
			/*float: left;*/
			margin: 20px;
		}
		@media screen and (max-width: 767px){
			.content_list{
				width: 100%;
				margin: 5px;
			}
		}
		

      	.content_list h2{
      		position: relative;
      		padding-bottom: 12px;
      		font-size: 3rem;
      	}
      	@media screen and (max-width: 767px){
      		.content_list h2{
      			padding-bottom: 8px;
      			margin-top: 10px;
      		}
      	}
      	.content_list h2::after{
      		content: '';
      		width: 210px;
      		height: 1px;
      		background-color: #000;
      		position: absolute;
      		bottom: 9px;
      		left: 0;
      	}
      	@media screen and (max-width: 767px){
      		.content_list h2::after{
      			width: 89vw;
      		}
      	}
      	/*.content_list.manger_list h2::after{

      		bottom: 12px;
      	}*/
      	/*.content_list h4{
      		font-size: 2.3rem;
      		margin-top: 1.5rem;
      		margin-bottom: 1rem;
      	}
      	@media screen and (max-width: 767px){
      		.content_list h4{
      			font-size: 2rem;
      		}
      	}*/



     /* 	.try_after:hover::before{
      		content: '專案';
      		text-align: right;
      		font-size: 2rem;
      		width: 210px;
      		position: absolute;
      		border-top: solid 1px;
      		margin-top: 2.8rem;
      		margin-right: 80px;		
      	}
      	@media screen and (max-width: 767px){
      		.try_after:hover::before{
      			width: 89vw;
      			font-size: 1.7rem;
      		}
      	}*/

      	.content_list a {
		    text-decoration: none;
		    color: #373d43;


		    font-size: 2.3rem;
      		margin-top: 1.5rem;
      		margin-bottom: 1rem;
		}
		@media screen and (max-width: 767px){
      		.content_list a{
      			font-size: 2rem;
      		}
      	}
			.content_list a:hover {
      			color: #79a49a; 
      		}

      	.content_list>a:hover::before{
      		content: '';
      		text-align: right;
      		/*font-size: */1.5rem;
      		width: 210px;
      		position: absolute;
      		border-top: solid 1px;
      		margin-top: 2.8rem;
      		margin-right: 80px;		
      	}
      	@media screen and (max-width: 767px){
      		.content_list>a:hover::before{
      			width: 89vw;
      			font-size: 1.7rem;
      		}
      	}

      	.member_list>a:nth-of-type(1):hover::before{
      		content: '專案';
      	}
      	.member_list>a:nth-of-type(2):hover::before{
      		content: '群組';
      	}
      	.member_list>a:nth-of-type(3):hover::before{
      		content: '個人頁面';
      	}

      	.manger_list>a:nth-of-type(1):hover::before{
      		content: '公告';
      	}
      	.manger_list>a:nth-of-type(2):hover::before{
      		content: '會員停權';
      	}
      	.manger_list>a:nth-of-type(3):hover::before{
      		content: '設定管理者';
      	}
      	.manger_list>a:nth-of-type(4):hover::before{
      		content: '下載';
      	}


      	.contact_list{
      		padding: 165px 140px 600px 22px;
      		margin:0 auto 0 -72px;
      		height: 100%;
      		position: relative;
      	}
      	@media screen and (max-width: 767px){
      		.contact_list{
      			margin: 0;
			    width: 100%;
      			padding: 0 0 100px 0;
      			border-top: 1px solid #e5e5e5;
      			margin-top: 25px;
      		}
      	}
      	.content_container .list_footer p{
			margin-left: 25px;
			
		}
		.content_container .list_footer p{
			font-size: 2rem;
			margin-top: 200px;
			color:#79a49a;
		}
		@media screen and (max-width: 767px){
			.content_container .list_footer p{
				margin-top: 20px;
				margin-left: 5px;
			}
		}
		.content_container .list_footer p:hover{
			color: #bcd2cd;
			cursor: pointer;
		}

			.font-large{
		font-size: 3rem;
		font-weight: 600;
	}
	.font-middle{
		font-size: 2.3rem;
	}
	.font-small{
		font-size: 2rem;
	}

	@media screen and (max-width: 767px){
		.font-large{
			font-size: 2.7rem;
		}
		.font-middle{
			font-size: 2rem;
		}
		.font-small{
		font-size: 1.6rem;
		}
	}