/*-------------------------tag-----------------------*/
html {
	cursor: default;
	font-size: 62.5%;
	/*font-size:70%;*/
}
	*,::before,::after{
		box-sizing: border-box;
		/*border: solid 1px;*/
	}
	*:focus {
    	outline: 0 !important;
	}
	body {
	    margin: 0px auto;
	    padding: 0px;
	}
	h1,h2,h3,h4,h5,h6,body,div,p,pre,ul,ol,dl,dt,dd,address,form,blockquote,figure,label{
		margin: 0;
		padding-bottom: 0;
		/*font-style: normal;*/
		font-family: "Times","Helvetica", "Arial","LiHei Pro","微軟正黑體", sans-serif;
		font-weight: normal;
		color: #000;
	}
	ul {
  		padding: 0;
	}
	li{
		list-style: none;
		text-align: center;
	}
	p{
		word-break: none;
	}
	img{
		vertical-align: bottom;
		border-style: none;
	}
	option{
		padding-right: 10px;
	}
	input,select{
		vertical-align: bottom;
	}

	input {
	    /*font-size: 1rem;*/
	    /*height: 100%;*/
	    background-color: transparent;
	    border: none;
	    border-bottom:1px  solid #bcd2cd;
	    /*border: 0 0 1px 0 solid #bcd2cd;*/
	}

	input::-webkit-input-placeholder{
        font-size: 1.8rem;
        /*margin-top: 0.3rem;*/
    }

	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus{
	  /*border: 1px solid #bcd2cd;*/

	  background-color:transparent;
	  transition: background-color 5000s ease-in-out 0s;
	}
	a{
		font-style: normal;
		font-weight: normal;
		text-decoration: none;
		color: #000;
	}

	a:hover{
	    text-decoration:none;
	    color: #79A49A;
	}

	tr{
		border:none;
	}
/*----------------font-size-------------------------*/
	.font-large{
		font-size: 7.2rem;
		font-weight: 500;
	}
	.font-middle{
		font-size: 4.8rem;
	}
	.font-small{
		font-size: 2.4rem;
	}
	.font-tiny{
		font-size: 1.6rem;
	}

	@media screen and (max-width: 767px){
		.font-large{
			font-size: 3.6rem;
		}
		.font-middle{
			font-size: 2.4rem;
		}
		.font-small{
		font-size: 1.2rem;
		}
		.font-tiny{
		font-size: 0.9rem;
	}
	}
/*--------------------public---------------------*/
.hidden{
	display: none;
}
.btn {
	/*width: 80%;*/

	padding: 3px 12px;
	border: solid 1px #79A49A;
	font-size: 2rem;
	color: #f3f3ee;
	text-align: center;
	/*font-weight: 300;*/
	border-radius: 8rem;
	background-color: #79A49A;
	cursor: pointer;
	/*margin: 1rem auto;*/

  	white-space: nowrap;
  	-ms-touch-action: manipulation;
  	touch-action: manipulation;
  	line-height: 1.4;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
	margin: 5px;

	vertical-align:central;

}
		.btn:hover {
			box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
			color: #373D43;
			/*font-weight:600;*/
			background-color: #BCD2CD;
			border: solid 1px #BCD2CD;
		}

.page-back-btn {
		text-align: center;
		font-size: 3rem;
		font-weight: 400;
		/*color: #BCD2CD;*/
		color: #79A49A;
		font-family: 微軟正黑體;
		/*margin-bottom: 5rem;*/
	}

		.page-back-btn:hover, .page-back-btn:focus {
			color: #BCD2CD;
			text-decoration: none;
			cursor: pointer;
		}

.page-container {
	position: fixed;
	top: 0;
	left: 120px;
/*	width: calc(100% + -120px);*/
	width: 100%;
	height: 100%;
	border-left: 1px solid #e5e5e5;
	-ms-overflow-style: auto;
	scrollbar-width: auto;
	overflow-x: hidden;
	background-color: #fafaf8;
}
		@media screen and (max-width: 767px) {
	    	.page-container {
		        left: 0;
		        top: 50px;
		        width: 100%
		        z-index: 99;
		        border-left: none;
		        border-top: 1px solid #e5e5e5;


	    	}
		}

	.page-tittle{
		margin:10px 5px 12px 0;
	}

.form-group label {
	font-size: 2rem;
}

.form-group input {
	width: 180px;
}
/*.table {
	margin: auto;
}*/
.close{
    font-size: 5rem;
    font-weight: 200;

    color: #ddd;
    text-shadow:none;
}
.close:hover
{
    font-size: 5rem;
    color: #fff;
}
/*---------------Index---------------------*/
.index-inner {
	padding: 5rem 0px 10px 5rem;
	margin-left: auto;
	position:absolute;
	/*left: 50*/
	/*height: 100%;*/
	width: 90%;
	overflow-x: auto;
	overflow-y: auto;
}
	@media screen and (max-width: 767px) {
		.index-inner{
			width: 100%;
			padding: 10px;
			margin-bottom: 50px; 
			height: auto;
		}
		/*.index_size h2{
			font-size: 2rem;
		}*/
	}

	.index-inner .table{
		font-size: 1.7rem;
		table-layout: fixed;
		/*width: 300px;*/
	}
		@media screen and (max-width: 767px) {
			.index-inner .table {
				font-size: 1.5rem;
				/*table-layout: fixed;*/
				/*max-height: 120px;*/

			}
			.index-inner td{
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

	.table .text-truncate {
		width: 100%;
	/*overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;*/
	/*table-layout: fixed;*/
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		/*max-width:1px;*/
	}

/*-------------------------edit-----------------------*/
	.edit-inner{
		height: 100%;
		/*width: 90%;*/
		overflow-x: auto;
		overflow-y: auto;

		/*margin: 5rem 0px 10px 5rem;*/
		padding: 2rem 0px 10px 5rem;
	}
		@media screen and (max-width: 767px) {
			.edit-inner{
				width: 100%;
				padding: 10px;
				margin-bottom: 50px; 
				height: auto;
			}
		/*.index_size h2{
			font-size: 2rem;
		}*/
	}
	.edit-inner div{
		margin-left: 3rem;
		font-size: 1.8rem;
	}
	@media screen and (max-width: 767px){
		.edit-inner div{
			margin-left:0.5rem;
		}
	}
	.edit-inner input{
		font-size: 2rem;
		width: 280px;
	}

/*	---------------bulletin-create-----------------*/

	.bulletin-create-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.bulletin-create-container div {
		display: flex;
		flex-direction: column;
		/*align-self: center;*/
		margin: 5px;
		justify-content: flex-start;
	}
	.bulletin-create-container input{
		width: 220px;
	}
	@media screen and (max-width: 767px) {
		.bulletin-create-container{
			flex-direction:column;
		}
			.bulletin-create-container div {
				flex-direction:row;
			}
	}

/*------------------------------group--------------------*/

/*版型 */


ul a {
  display: inline-block;
  text-decoration: none;
  color: #f3f3ee;
  /*width: 100%;*/
  font-size:2rem;
}

/*佈局樣式 */
.group-box>.menu {
  width: 80%;
  margin: 0 auto;
  list-style-type: none;
  background: #79a49a;
  color: ;
}

/*動態效果 */
.group-box>.drop-down {
  position: relative;
}

.group-box>.submenu {
  position: relative;
  opacity: 0;
  width: 100%;
  z-index: 8;
  transition: opacity 0.7s ease;
}


.group-box .submenu-item {
  display: none;
  height: 0px;
  overflow: hidden;
  transition: height 1s ease;
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
	.group-box .submenu-item {
		font-size: 1.5rem;
	}
}
.group-box>.drop-down:hover .group-box>.submenu {
  opacity: 1;
}

.drop-down:hover .submenu-item {
	display: table-row;
  overflow: visible;
  height: 20px;
}


	a.submenu-item{
		color: #373d43;
		background: #BCD2CD;
	}
	.drop-down:hover a.submenu-item{
		padding: 0;
		display: table;
		width:100%;
		background-color:#BCD2CD;
		color:#373d43;
	}

/*視覺樣式 */
.item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  	width: 100%;
  	/*padding: 10px;*/
  	border: solid 1px #ddd;
}

.item>div{
	display: flex;
	flex-direction: row;
	width: 40%;
	justify-content: flex-end;
}

.item:hover {
  /*background: #f3f3ee;*/
}

.submenu-item {
  background: #f3f3ee;
  color: #373D43;
  width: 100%;
  padding-left: 20px;
  line-height: 30px;
}

.submenu-item:hover {
  /*background: #BCD2CD;*/
}

.now .item {
  background: #ddd;
}

.now .submenu {
  opacity: 1;
}

.now .submenu-item {
  background: #555;
  overflow: visible;
  height: 30px;
}

.item .btn{
	/*width: 80%;*/
	background: #f3f3ee;
	color: #79A49A;
	/*margin: 1px 5px;*/
}

td>.btn{
	background: #f3f3ee;
	color: #79A49A;
	margin: auto 0;
	padding: auto 0;

}


.submenu>.table{
	margin: 0;
}

.submenu > .table>a {
	display:table;
}

.group-box p{
	font-size: 2rem;
	font-style: normal;
	font-weight: 400;
	vertical-align:central;
	align-self: : center;
	margin:0.5rem;
}
.group-box input[type=text]{
	border:none;
	/*padding: none;*/
	margin-left: 2rem;
}


li.collapse{
	background-color: #BCD2CD;

}
.collapse .btn{
	background-color:#fafaf8;
	color: #79A49A;
}
.collapse>form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.group-box .collapse input[type=text]{
	/*background-color: #fafaf8*/
	border-bottom: 1px solid #f3f3ee;
	padding: none;
	/*line-height: 2*/
	margin: 2rem 0;
}
/*---------member--------*/
.member-index>div{
	/*display: flex;*/
	/*flex-direction: column;*/
	/*align-items: center;*/
}
.member-index table {
  /*overflow:hidden;*/
   overflow-y: hidden;
	display: inline-block;

}

.member-index td,.member-index th {
  position: relative;
}


/*.member-index td:hover::before {
  background-color: #eee;
  content: '';
  height: 100%;
  left: -5000px;
  position: absolute;
  top: 0;
  width: 10000px;
  z-index: -2;
}
*/



td.light-bar:hover::after {
  background-color: #f3f3ee;
  content: '';
  height: 1200px;
  left: 0;
  position: absolute;
  top: -600px;
  width: 100%;
  z-index: -1;
}

.member-index .headcol{
	position : sticky;
	left:0;
	background-color: #fafaf8;
	z-index: 50;
}

.details-container{
	background-color: #f3f3ee;
	z-index: 5;
}
.details{
	display: flex;
	flex-direction: row;
	/*margin: 0.2rem 2rem;	*/
}
.details>div{
	margin-right:2rem;
	color:#79A49A;
	/*font-size: 1.6rem;*/
}

/*--------------會員管理頁-變更權限彈出視窗(modal)--------------*/
/*.modal-dialog{
	max-width: auto;

}*/
.suspend-box .modal-content {
    background-color: transparent;
    border: none;
    display: inline-block;
}
button.close{
	border:none;
}
.suspend-box .close{
    font-size: 10rem;
    font-weight: 200;
    outline:none;
    color: #ddd;
    text-shadow:none;
}
.suspend-box .close::-moz-focus-inner {
   border: 0;
}

.suspend-box .close:hover{
    font-size: 5rem;
    color: #fff;
}
.suspend-box .modal-body{
	background-color:#f3f3ee;

}
.suspend-box .modal-header,.modal-footer{
	/*background-color: transparent;*/
    border:none;
    padding: 0;
}
/*------------------project---------------*/
.project-page input{
	background-color: transparent;
}

.project-page{
	width: 95%;
	margin:auto;
	/*padding: */
}


.project-container{
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
	flex-wrap: wrap;
	margin-right:  auto;
	margin-left: auto;
	/*width: 90%;*/
}

.each-project{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:1rem 2rem ;
	width: 240px;
}
.add-pj{
	text-align: center;
	padding-top:2rem;
}
.project-img{
	width: 240px;
	height: 180px;
	background-color: #fff;
	overflow: hidden;
}
.project-name{
	width: 230px;
	text-align: center;
}
.dropdown{
	/*width: 80px;*/
	/*height:20px;*/
	align-self: flex-end;
	display: block;
	position: absolute;
	/*margin-top:0.2rem;*/
}


.dropdown-item:hover{
	background-color: #BCD2CD;
}
.dropdown-btn{
	background-color: rgba(0,0,0,0.2);
	border:none;
	/*box-shadow:0px 0px 10px rgba(0,0,0,0.2);*/
	border-radius: 0%;
	padding: none;
}
/*-------------個人頁--------------*/


#changePIC .close,
#changeInfo .close,
#changePSW .close,
#voteSystem .close,{
    font-size: 5rem;
    font-weight: 200;

    color: #ddd;
    text-shadow:none;
}


#changePIC .close:hover,
#changePIC .close:hover,
#changePSW .close:hover,
#voteSystem .close:hover{
    font-size: 5rem;
    color: #fff;
}
#changePIC .modal-content,
#changeInfo .modal-content,
#changePSW .modal-content{
    background-color: transparent;
    border: none;
}

#changePIC .modal-header,
#changePSW .modal-header,
#changeInfo .modal-header
{
    padding: 0;
    border:none;
}

#changeInfo .modal-title,
#changePSW .modal-title
{
	/*line-height:2;*/
	padding-bottom: 0; 
	font-size: 3rem;
	/*background-color: transparent;*/
}

#changeInfo .modal-body,
#changePSW  .modal-body
{
	background-color:#f3f3ee;
	border-radius: 3%;	
}
/*----------------------------*/
	.personal-page{
			width: calc(100% + -120px);
	}

	.personal-page>div{
		align-self: center;
	}

	.member-pic-container{
		/*content:"@Url.Action("GetImage", new { id = Model.MemberID })"*/
		width: 230px; 
		height: 230px; 
		border-radius: 50%;
		margin: 3rem auto 0 auto;
	}
	.member-pic{
		/*overflow: hidden;
		display:block;
		margin:auto*/
		object-fit: cover;
		/*background-position: center;*/
		/*background-size: cover;*/
		width: 230px; 
		height: 230px; 
		border-radius: 50%;
	}



	.info-box{
		display: flex;
		flex-direction: column;

		width: 50%;
		margin: 2.3rem auto 2rem auto;
		padding:0 1rem 0.5rem 1rem;
		border-bottom: solid 2px #BCD2CD;

	}
	/*.info-box .btn{
		padding: 0 2px 0 2px;
	}*/
	.info-box h2,
	.info-box label,
	.info-box p{
		font-family: Helvetica;
	}
	.info-box h2{
		font-size: 3.7rem;
		/*padding: 1px 0 1px 0;*/
	}
	.info-box>div:nth-of-type(1){
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom:1rem;
	}

	.info-box label{
		font-size: 1.6rem;
		color: #9ca1a6;
		padding-top: 0.5rem;
	}
	.info-box p{
		font-size: 2.3rem;
		color: #373D43;
		/*padding-top: 0rem;*/
		padding-bottom: 1.3rem;
	}
	.info-box img{
		background-color: #373D43;
	}
	@media screen and (max-width: 767px){
		.personal-page{
			width: 100%;
		}
		.info-box{
			width: 100%;
		}
		.personal-page{
			overflow-y: auto;
		}
		.info-box h2{
			font-size: 3rem;
		}
		/*.info-box>div{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}*/
	}
/*---------編輯照片畫面---------------*/
	#newImg{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.img-btn-box{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		margin: 2rem;
	}
	.img-btn-box>input{
		background: #f3f3ee;
		color: #79A49A;
	}
/*----------編輯資料畫面--------------*/

/*#changeInfo .modal-header{
	border:none;
	background-color: transparent;
}*/


/*------*/
#changeInfo .form-group{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 3rem 0;
}
#changeInfo .form-group>label{
	font-size: 2.5rem;
}

#changeInfo .form-group>input,
#changeInfo .form-group>p{
	font-size: 2rem;
	width: 300px;
	/*margin: 2rem 0;*/
}

#changeInfo .form-group>div{
	width: 35%;
}

#changePSW .form-group{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem; 
	font-size: rem;
}
#changePSW .form-group>label{
	font-size: 2.1rem;
}
#changePSW .form-group>input{
	width: 20rem;
	text-align:center;
	font-size: 2rem;
}
/*#changePSW .form-group>div{
	margin-top: 3rem; 
}*/

/*------------------*/
/*.dropdown-menu,
.dropdown-item{
	z-index: 300;
}*/
/*----------------白板葉面---------*/
#images-group{
	display: flex;
	flex-direction: column;
margin-left: 10%;
}

#images-group>img{
	max-height: 200px;
}
/* 不要直接移動 #choyCanvas，改移動 fabric js 產生出來的 .canvas-container */
/* #choyCanvas{ 
	margin: auto;
} */
a.nav-link{
	background-color:#BCD2CD;
}
#voteSystem .modal-content{
	background-color: transparent;
}
#voteSystem .modal-header{
	background-color: transparent;
	padding-bottom: 0;
	padding-left: 0;
	position: relative;
	bottom: -1.2rem;
}
#voteSystem .modal,
#voteSystem .modal-header,
#voteSystem .modal-content{
	border:none;
}

#voteSystem li{
	margin-right: 0.2rem;
	border-radius: 5px;
}
#voteSystem .modal-body{
	padding: 0;
	padding-top: 3rem;
	padding-bottom: 3rem;
	/*width: 500px;*/
	/*height: 400px;*/
	background-color: #f3f3ee;
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	overflow-y:auto;
}

#create-vote-form{
	padding:2rem;
	width: 100%;
	/*padding-top: 5rem;*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*align-items: center; */
}
#voteSystem .form-group{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	padding-bottom: 1rem;
	width: 80%;
	margin: 0 auto;
}
#voteSystem .form-control{
	background-color: transparent;
	border:none;
	border-bottom: solid 1px #79A49A;
	margin-left: 2rem;
}

.tab-pane{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.board-container{
	display: flex;
	flex-direction: row;
	
}
/* #choyCanvas{ */ /* 不要直接移動 #choyCanvas，改移動 fabric js 產生出來的 .canvas-container */
.canvas-container {
	margin-left: 10%;
	/*margin-top: 3%;*/
	box-shadow: 5px 10px 10px 5px rgba(0,0,0,0.2)
}
#taggle-btn{
	position: relative;
	border:none;
	background-color: #79A49A;
	border-radius: 5px 0 0 5px;
	margin-right: -10px;
	color: #fff;
	font-size: 3rem;
}
#taggle-btn span{
	width: 100%;
	/*border:1px solid #373d43;*/
	height: 10px;
	background-color:#fff;

}
.each-vote{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: solid 1px #BCD2CD;
	padding-top: 1rem;
}

.each-vote label{
	font-size: 2rem;
	/*margin-top: 10px;*/
}
.each-vote>form>div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top:1rem;
}
